
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<p>
			Password Reset Link Has Been Sent To Your Mail
		</p>
		<p>
			Please Check Your Inbox
		</p>
		<div class="text-center">
			<a href="https://mail.google.com/mail/u/0/?ogbl#inbox">Go To Your Inbox</a>
		</div>

	</div>
</div>
