@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1 class="text-center text-white">Forget Password</h1>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendEmail">

			<input class="text my-3" asp-for="Email" placeholder="Recovery Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>


			<input type="submit" value="Reset Password">
		</form>
		
	</div>
</div>
@section ValidationScriptSection {
	<partial name="_ValidationScripts" />
}

