@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure You Want To Delete @Model.Name</h1>
<div asp-validation-summary="All"></div>
<form asp-action="Delete">
    <partial name="PartialViews/_DeleteDetailsPartialView" />
    <input type="submit" value="Delete" asp-route-id="@Model.Id" class="btn btn-danger" />  |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>